# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio Code files
.vscode/
*.code-workspace

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Rider files
.idea/
*.sln.iml

# Other
*.db
*.log
*.pdb
*.mdb
*.tmp
*.cache

# Ignore build directories
bin/
obj/